:root {
--col1: #0C0D08;
--col2: #25261E;
--col3: #A60303;
--col3alpha: #a60303a6;
--col4: #590202;
--col5: #400101;
}


* {
    font-family: "Kanit", sans-serif;
    box-sizing: border-box;

}

html {
    font-size: 10px;
}

body {
    margin: 0;
    height: 400vh;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    height: 100vh;
    background: url('../assets/img/aparat_nikon_studio_filmowe_sm.webp') center/cover fixed;
    color: whitesmoke;
    position: relative;
}

nav {
    padding: 25px;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
}

.logo {
    flex-basis: 50%;
}

.logo img {
    width: 120px;
}

.menu {
    flex-basis: 50%;
    text-align: right;
}

.material-symbols-outlined {
    font-size: 7rem;
}

.btn-header-CTA {
    display: block;
    width: 220px;
    /* height: 120px; */
    border-radius: .6rem;
    padding: 18px;
    background-color: var(--col3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    transition: .5s;
}

.wrapper {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 40px;
    flex-basis: 10%;
}

.black-box {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.434);
    position: absolute;
    top: 0;
    left: 0;
}

@media all and (min-width: 700px) {
    header {
        background-image: url('../assets/img/aparat_nikon_studio_filmowe_big.webp');
    }

    h1 {
        font-size: 55px;
    }

.btn-header-CTA:hover {
    background-color: var(--col3alpha);
    transform: translateY(-1rem);
    }
}

@media all and (min-width: 900px) {
    
    h1 {
        font-size: 80px;
    }
}

