:root {
--col1: #0C0D08;
--col1alpha: #0c0d08e1;
--col2: #25261E;
--col3: #A60303;
--col3alpha: #a60303a6;
--col4: #590202;
--col5: #400101;
--col6: whitesmoke;
}

@keyframes show-elem {
    from {opacity: 0;}
    to {opacity: 1;}
}

* {
    font-family: "Kanit", sans-serif;
    box-sizing: border-box;

}

html {
    font-size: 10px;
}

html, body {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 400vh;
}

.container {
    width: 100%;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.col {
    flex: 0 0 100%;
    padding: 1.5rem;
}

@media all and (min-width: 800px) {
    .container {
        width: 80%;
        padding: 0;
        margin: 0 auto;
    }
    
    .row {
        flex-direction: row;
    }

    .col-m-50 {
        flex: 0 0 50%;
    }

    .col-m-33 {
        flex: 0 0 33.33333%;
    }
    
    .col-m-25 {
        flex: 0 0 25%;
    }
}

@media all and (min-width: 1100px) {
    
    .container {
        width: 65%;
    }

    .col-l-50 {
        flex: 0 0 50%;
    }
    
    .col-l-33 {
        flex: 0 0 33.33333%;
    }
    
    .col-l-25 {
        flex: 0 0 25%;
    }
    
}

.class-hide {
    display: none;
}

.class-show {
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 1.7rem;
}

header {
    height: 100vh;
    background: url('../assets/img/aparat_nikon_studio_filmowe_sm.webp') center/cover fixed;
    color: whitesmoke;
    position: relative;
}

nav {
    padding: 25px;
    z-index: 2;
    position: fixed;
    color: var(--col6);
    width: 100%;
    background-color: #0d0d0dc1;
    /* background-color: transparent; */
}

.box-nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    flex-basis: 50%;
}

.logo img {
    width: 120px;
}

.menu {
    flex-basis: 50%;
    text-align: right;
}

.mobile-menu {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: var(--col1);
    right: 0;
    top: 0;
    animation: show-elem .5s linear;
}

.mobile-menu span {
    position: absolute;
    top: 3rem;
    right: 3rem;
    z-index: 4;
}

.mobile-menu ul {
    margin: 0;
    margin-top: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    list-style: none;
    /* border: 1px solid #fff; */
    padding: 0;
}

.mobile-menu li {
    padding-top: 3.8rem;
    width: 100%;
    text-align: center;
    /* border: 1px solid gray; */
}

.material-symbols-outlined {
    font-size: 7rem;
    cursor: pointer;
}

.btn-header-CTA {
    display: block;
    width: 22rem;
    /* height: 120px; */
    border-radius: .6rem;
    padding: 18px;
    background-color: var(--col3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    transition: .5s;
    margin-top: 3rem;
}

.wrapper {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    animation: show-elem 2s linear;
}

.wrapper p {
    font-size: 200%;
    width: 60%;
}

h1 {
    text-align: center;
    font-size: 40px;
    /* flex-basis: 10%; */
    margin: 0;
}

.black-box {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.434);
    position: absolute;
    top: 0;
    left: 0;
}

section {
    padding: 150px 0;
    min-height: 100vh;
}

section:nth-of-type(1) {
    padding: 0;
    min-height: 200px;
}

section:nth-of-type(even) {
    position: relative;
    background: url('../assets/img/aparat_nikon_studio_filmowe_sm.webp') center/cover fixed;
    color: whitesmoke;
}

section:nth-of-type(even) .row {
    position: relative; 
    z-index: 99999;
}

section:nth-of-type(even) h2 {
    position: relative;
    z-index: 2;
}

h2 {
    text-align: center;
    font-size: 3.8rem;
}

form {
    padding-left: 15px;
    margin-top: 0;
    padding-top: 0;
}

h3 {
    font-size: 2.8rem;
    text-align: center;
    width: 100%;
}

label {
    display: block;
    font-size: 1.8rem;
    padding: 6px 0;
}

label:nth-of-type(1) {
    padding-top: 0;
}

input, textarea {
    display: block;
    padding: 1rem;
    width: 100%;
    font-size: 1.9rem;
    resize: none;
    border: 1px solid var(--col1);
    outline: 0;
    border-radius: .6rem;
}

input:focus, textarea:focus {
    background-color: #25261e1b;
}

.btn-form {
    display: block;
    width: 22rem;
    /* height: 120px; */
    border-radius: .6rem;
    padding: 8px;
    background-color: var(--col3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    transition: .5s;
    margin-top: 3rem;
}

.box-video {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 18px whitesmoke;
    border-radius: .6rem;
    transition: .5s;
    background-color: var(--col1);
    padding-bottom: 40px;
}

.box-video:hover {
    box-shadow: 0 0 38px;
    scale: 1.025;
}

.name-video {
    color: whitesmoke;
}

video {
    width: 100%
}

.box-video-btn  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
    background-color: var(--col1alpha);
    /* backdrop-filter: blur(4px); */

    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 50%;
    height: 50%;
    background-color: whitesmoke;
    border-radius: .6rem;
    z-index: 5;
    border: 4px solid var(--col3);
    position: relative;
}

@media all and (min-width: 800px) {
    header {
        background-image: url('../assets/img/aparat_nikon_studio_filmowe_big.webp');
    }

    h1 {
        font-size: 55px;
    }

.btn-header-CTA:hover {
    background-color: var(--col3alpha);
    transform: translateY(-1rem);
    }
}

@media all and (min-width: 1100px) {
    
    h1 {
        font-size: 80px;
    }

    .mobile-menu {
        height: 50%;
        width: 25%;

        border-left: 4px solid var(--col5);
        border-bottom: 4px solid var(--col5);
        border-radius: 5%;
    }
}

